<h3><%= "Scientist Show Page" %></h3>

<p><%= "Name: #{@scientist.name}" %></p>
<p><%= "Specialty: #{@scientist.specialty}" %></p>
<p><%= "University: #{@scientist.university}" %></p>
<p><%= "Lab: #{@scientist.lab.name}" %></p>

<h3>Experiments:</h3>
  <style>table, th, td </style>
  <table>
    <thead>
    </thead>
    <tbody>
      <% @scientist.experiments.each do |experiment| %>
        <tr>
          <td><%= experiment.name %></td>
          <td>
            <p><%= button_to "Remove", "/scientists/#{@scientist.id}/experiments/#{experiment.id}", method: :delete %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>